@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<html>
<head>
    <title>Drug Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/Landing.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/notifications.css" />
    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <link href="~/css/Landing-ar.css" rel="stylesheet" />
        <style>
            /*To Change Direction To All Row Class Rtl */
            .row [class*="col-"] {
                direction: rtl !important;
                text-align: right;
            }
        </style>
    }
</head>
<body style="margin:0px !important; ">

    <!-- The Drugs Modal -->
    <partial name="_UploadDrugsPopupPartial" />
    <!-- The Pharmacy Modal -->
    <partial name="_UploadPharmaciesPopupPartial" />
    <partial name="UploadSpicalLocationData" />

    <!--</nav>-->
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#home">
                <img src="~/Images/logo-blue.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">@localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#founder">@localizer["Founder"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">@localizer["About Us"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mission">@localizer["Mission&Vision"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#our-values">@localizer["Our Values"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#customers">@localizer["Our Customers"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-us">@localizer["Contact Us"]</a>
                    </li>
                </ul>
                <partial name="_LandingPageLoginPartial" />
            </div>
        </nav>
    </div>

    <!-- Header-->
    <header id="home">
        <h1>@localizer["Gaza Central Warehouse Company"]</h1>
        @if (ViewBag.PharmacyRole == "Admin")
        {
            <p class="description mb-0">
                @localizer["Gaza Central Warehouse Company for Pharmaceuticals and Medical Supplies"]
            </p>
        }
        else
        {
            <p class="description">
                @localizer["Gaza Central Warehouse Company for Pharmaceuticals and Medical Supplies"]
            </p>
        }


        @if (ViewBag.PharmacyRole != "Admin")
        {
            <p class="hint">@localizer["create first order"]</p>
            <a href="/order/Create" class="btn btn-order">@localizer["Order Now"]<i class="fa fa-angle-double-right"></i> </a>
        }



        @*<div class="midicine-img-div">
            <img src="~/Images/midicine.png" />
            </div>*@
        <div class="d-flex flex-column icons">
            <div class="mt-1"><img src="~/icons/phone.png" alt="" /></div>
            <div class="mt-1"><img src="~/icons/letter.png" alt="" /></div>
            <div class="mt-1"><img src="~/icons/printer.png" alt="" /> </div>
        </div>
        <div class="blackShadow"></div>
    </header>

    <section id="about-us">
        <div class="content-section">
            <h2 class="section-title">@localizer["About Gaza Central Company"]</h2>
            <p class="section-description">
                @localizer["Sub About Gaza Central Company"]
            </p>
            <div class="about-us-container">
                <div class="image">
                    <img src="~/Images/national-cancer-institute-fTQHPb6r4wQ-unsplash.png" />
                </div>
                <p>
                    @localizer["Body About Gaza Central Company"]

                </p>
            </div>
        </div>
    </section>

    <section id="founder">
        <div class="content-section">
            <h2 class="section-title">@localizer["Founder"]</h2>
            <div class="founder-image mb-3">
                <img src="~/Images/founder.png" />
            </div>
            <div class="founder-intro">
                <p class="founder-word">
                    @localizer["Body  Nader  Sharab"]

                </p>
            </div>
            <div class="founder-lines">
                <ul>
                    <li>@localizer["Chairman of the Administrative Board of the Palestinian Arab Medical Association, which represented the Physicians and Pharmacists Syndicate, and a member of the Administrative Board for several sessions"]</li>
                    <li>@localizer["Member of the Palestinian National Council"]</li>
                    <li>@localizer["Vice President of the Palestinian Health Council of the Palestinian Red Crescent"]</li>
                    <li>@localizer["Board member and founder of the Patient Friends Charitable Society"]</li>
                    <li>@localizer["Chairman of the Board of Directors and founder of the Gaza Central Drug Store, the first drug distribution warehouse in the Gaza Strip"]</li>
                    <li>@localizer["Founding member and Chairman of the Board of Directors of the Middle East Laboratories for the Pharmaceutical and Cosmetics Manufacturing Company LLC"]</li>
                    <li>@localizer["Member of the first elected board of directors of the Palestinian Chamber of Commerce, and the winner of the highest votes in those elections"]</li>
                    <li>@localizer["Member of the Board of Directors of Bank of Palestine Ltd"]</li>
                    <li>@localizer["Chairman and founder of the Gaza Central Warehouse Company for Pharmaceuticals and Medical Supplies"]</li>
                </ul>
            </div>
        </div>
    </section>


    <section id="management">
        <div class="content-section">
            <h2 class="section-title">@localizer["Management"]</h2>
            <div class="management-cards mx-5">
                <div class="card mx-sm-3 shadow">
                    <div class="row no-gutters">
                        <div class="col-md-2 text-center text-md-left ">
                            <img class="card-img" src="/Images/girl-management.png" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">@localizer["Haifa Sharab"]</h5>
                                <p class="card-text">@localizer["Sub  Haifa Sharab"]</p>
                                <hr />
                                <p>
                                    @localizer["Body  Haifa Sharab"]
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-sm-3 shadow">
                    <div class="row no-gutters">
                        <div class="col-md-2 text-center text-md-left">
                            <img class="card-img" src="/images/man-management.png" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">@localizer["Nader  Sharab"]</h5>
                                <p class="card-text">@localizer["Sub  Nader  Sharab"]</p>
                                <hr />
                                <p>
                                    @localizer["Body  Nader  Sharab"]
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-sm-3 shadow">
                    <div class="row no-gutters">
                        <div class="col-md-2 text-center text-md-left">
                            <img class="card-img" src="/images/man-management.png" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">@localizer["Haitham Shurrab"]</h5>
                                <p class="card-text">@localizer["Sub Haitham Shurrab"]</p>
                                <hr />
                                <p>
                                    @localizer["Body Haitham Shurrab"]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-sm-3 shadow">
                    <div class="row no-gutters">
                        <div class="col-md-2 text-center text-md-left">
                            <img class="card-img" src="/images/man-management.png" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">@localizer["Saed Sharab"]</h5>
                                <p class="card-text">@localizer["Sub Saed Sharab"]</p>
                                <hr />
                                <p>
                                    @localizer["Body Saed Sharab"]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>



    <section id="mission">
        <div class="row no-gutters">
            <div class="col-lg-6 col-sm-12 no-gutters letter text-center">
                <div>
                    <div>
                        <img src="~/Images/letter-logo.png" alt="" />
                    </div>
                    <h2 class="section-title">@localizer["Our Mission"]</h2>
                    <p>
                        @localizer["Our Mission Body"]
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 no-gutters vision text-center">
                <div>
                    <div>
                        <img src="~/Images/eye.png" alt="" />
                    </div>
                    <h2 class="section-title">@localizer["Our Vision"]</h2>
                    <p>
                        @localizer["Our Vision Body"]
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="our-values">
        <div class="content-section">
            <h2 class="section-title">@localizer["Our Values"]</h2>

            <div class="our-values-cards">
                <div class="row justify-content-center">
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title ">@localizer["Piety"]</h5>
                            <p class="card-text">@localizer["Piety Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Honesty"]</h5>
                            <p class="card-text">@localizer["Honesty Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Daring"]</h5>
                            <p class="card-text">@localizer["Daring Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Mercy"]</h5>
                            <p class="card-text">@localizer["Mercy Body"]</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Pharmaceutical professional"]</h5>
                            <p class="card-text">@localizer["Pharmaceutical professional Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Team spirit"]</h5>
                            <p class="card-text">@localizer["Team spirit Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Staff development"]</h5>
                            <p class="card-text">@localizer["Staff development Body"]</p>
                        </div>
                    </div>
                    <div class="card col-md-5 col-lg-2">
                        <div class="card-body">
                            <h5 class="card-title">@localizer["Excellence in performance"]</h5>
                            <p class="card-text">@localizer["Excellence in performance Body"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section id="our-success">
        <div class="content-section">
            <h2 class="section-title">@localizer["Ingredients of our success"]</h2>
            <p class="section-description">
                @localizer["Who has an honorable history has a present and a promising future"]
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 item ">
                    <img class="d-inline-block" src="/icons/shape-icon.png" alt="" />
                    <p class="d-inline-block">
                        @localizer["We have a strong and qualified management with scientific qualifications, diverse practical experiences and distinguished leadership."]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We have a strong and stable board of directors that enjoys strong and solid relations with all influential parties in the Palestinian arena."]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We have a young staff, highly trained, expert in his fields of work, consisting of 20 cadres of specialists and qualified in the various fields necessary for the nature of our work, including administrators, sales representatives, salesmen, accountants, pharmacists, pharmacy assistants, workers."]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We have great financial and material capabilities as our owned assets exceed tens of times our trading volume."]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We have a large basket of pharmaceutical products"]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We have strong and distinguished relationships with agents, suppliers, customers and companies working in the field of pharmaceuticals"]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["The company has clear plans to deal with the future and emerging circumstances."]
                    </p>
                </div>
                <div class="col-md-6 item">
                    <img src="/icons/shape-icon.png" alt="" />
                    <p>
                        @localizer["We rely on advanced and appropriate technology and computerized programs in managing our activities and our relationship with our customers and suppliers, and we always strive to keep pace with developments in technology to provide the best that can be offered"]
                    </p>
                </div>
            </div>

        </div>
    </section>


    <section id="sales">
        <div class="content-section">
            <h2 class="section-title">@localizer["sales representatives"]</h2>
            <p class="section-description">
                @localizer["Our sales representatives in all regions of the Gaza Strip"]
            </p>


            <!-- Additional required wrapper -->
            <div class="row justify-content-around ">
                <div class=" mr-3 col-md-3 mx-3 col-sm-12">
                    <div class="sales-box">
                        <div class="sales-image">
                            <img src="./Images/man.png" />
                        </div>

                        <div class="sales-info">
                            <div class="sales-name">Salesperson Name</div>
                            <div class="sales-number">
                                <img src="./icons/call.png" />
                                +970 599429919
                            </div>

                            <div class="sales-region ">
                                <img src="~/icons/location2.png" alt="" />
                                <h5>Gaza</h5>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" mr-3 col-md-3 mx-3 col-sm-12">
                    <div class="sales-box">
                        <div class="sales-image">
                            <img src="./Images/man.png" />
                        </div>
                        <div class="sales-info">
                            <div class="sales-name">Salesperson Name</div>
                            <div class="sales-number">
                                <img src="./icons/call.png" />
                                +970 598887893
                            </div>

                            <div class="sales-region ">
                                <img src="~/icons/location2.png" alt="" />
                                <h5>Gaza</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class=" mr-3 col-md-3 mx-3 col-sm-12">
                    <div class="sales-box">
                        <div class="sales-image">
                            <img src="./Images/man.png" />
                        </div>
                        <div class="sales-info">
                            <div class="sales-name">Salesperson Name</div>
                            <div class="sales-number">
                                <img src="./icons/call.png" />
                                +970 598887894
                            </div>

                            <div class="sales-region ">
                                <img src="~/icons/location2.png" alt="" />
                                <h5>Gaza</h5>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </section>



    <section id="customers">
        <div class="content-section">
            <h2 class="section-title">@localizer["Our Customers"]</h2>
            <p class="section-description">
                @localizer["Our Customers in all regions of the Gaza Strip"]
            </p>
        </div>
        @*        <div id="HomeMap" class="mb-2" style="width: 100%; height: 83.6vh;"></div>
        *@
    </section>

    <section id="contact-us">
        <div class="content-section">
            <h2 class="section-title">@localizer["Contact Us"]</h2>
            <p class="section-description">
                @localizer["Leave Us Your Message"]
            </p>
            <div class="contact-us-container">
                <div class="contact-info">
                    <div class="title">Get In Touch With Us...</div>
                    <div class="contacts">
                        <div class="contact">
                            <img src="./icons/phone-2.png" />
                            08 2864119
                        </div>
                        <div class="contact">
                            <img src="./icons/email-2.png" />
                            GazaCentralCompany@gmail.com
                        </div>
                        <div class="contact">
                            <img src="./icons/printer-2.png" />
                            08 2820674
                        </div>
                        <div class="contact">
                            <img src="./icons/phone-2.png" />
                            059 8887892
                        </div>
                    </div>
                </div>
                <form class="contact-form">
                    <div class="form-group">
                        <label>@localizer["Contact us now to send you an account number for your pharmacy"]</label>
                        <input type="email" placeholder="@localizer["Email"]" class="form-control" id="emailInput" style="height: 50px;" /><br />
                        <textarea placeholder="@localizer["Enter Your Message"]" class="form-control" id="messageInput"></textarea>
                    </div>
                    <button class="btn btn-order" type="button" id="sendMessage">@localizer["Send"] <i class="fa fa-angle-double-right" id="snipp"></i></button>
                </form>
            </div>
        </div>
    </section>

    @if (ViewBag.PharmacyRole != "Admin")
    {
        <section id="order-now">

            <div class="title">@localizer["Would You Like To Create Your First Order Now?"]</div>
            <a href="/order/Create" class="btn btn-order">@localizer["Order Now"] <i class="fa fa-angle-double-right"></i></a>
            <img src="~/Images/medicine2.png" alt="" />

        </section>
    }



    <footer>
        <div class="content-section">
            <div class="footer-logo d-flex">
                <img src="/Images/footer-logo.png" />
                <h4 class="text-white text-nowrap mt-4">@localizer["Gaza Central Warehouse"] </h4>
            </div>
            <p>
                @localizer["Footer Body"]
            </p>
            <div class="bottom-footer">
                <div class="socail">
                    <a href="javascript:void(0)"><img src="./Images/facebookLogog.png" /></a>
                    <a href="javascript:void(0)"><img src="./Images/WhatsApp-Logo-Icon.png" /></a>
                </div>
                <div class="language-container">
                    <span>Language</span>
                    <div class="languages">
                        @*     <form method="POST" id="ar" asp-controller="Home" asp-action="SetLanguage"
                                       >
                                   <input type="hidden" name="culture" value="ar-SA" />
                                   <input type="hidden" name="returnUrl" value="@Context.Request.Path.Value" />
                            <a href="javascript:void(0)" onclick="this.submit()">En</a>
                              <button type="submit">aaaaaaa</button>
                              </form>*@

                        <a href="javascript:void(0)" onclick="ChangeLanguage('en-US','@Context.Request.Path.Value',this)">En</a>
                        <a href="javascript:void(0)" onclick="ChangeLanguage('ar-SA','@Context.Request.Path.Value',this)">العربية</a>
                    </div>
                </div>
                @*<div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    </div>*@
            </div>
        </div>
    </footer>


    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/lib/google/MarkerCluster.js" asp-append-version="true" defer></script>
    @*<script src="~/js/actions.js" asp-append-version="true" defer></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="~/js/UploadExcelFile.js"></script>


    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    @*Call Notifications Script Js*@
    <script src="~/js/Notifications.js"></script>

    <script>
        $(document).ready(() => {
            $("body").on('click', '#sendMessage', () => {
                if ($("#emailInput").val() != null && $("#emailInput").val() != "" &&
                    $("#messageInput").val() != null && $("#messageInput").val() != "") {
                    $('#snipp').addClass("spinner-border");
                    $.post("/home/sendMessage", { email: $("#emailInput").val(), message: $("#messageInput").val() }, () => {
                        $("body").off('click', '#sendMessage');
                        $('#snipp').removeClass("spinner-border");
                        $("#sendMessage").prop("disabled", true);
                        Swal.fire({
                            icon: 'success',
                            title: 'Done',
                            text: 'Your Message Send successfully'
                        });
                    });
                }
            });
        });
        function ChangeLanguage(culture, returnUrl, el) {

            $.post("/Home/SetLanguage", { culture: culture, returnUrl: returnUrl }).done(e => { location.reload(); })



            //`<form method="POST"  asp-controller="Home"  asp-action="SetLanguage">
            //                <input type="hidden" name="culture" value="${culture}" />
            //                <input type="hidden" name="returnUrl" value="${returnUrl}" />
            //  </form> `

            //  $("form").submit();

        }
    </script>

</body>

</html>
